body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: 'Arial', sans-serif;
  background-color: #ffcc00;
  color: #333;
  line-height: 1.6;
  /* padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  /* padding: 20px; */
  text-align: center;
}
    
h1 {
  font-size: 5.5rem;
  margin: 100px 0 20px;
  text-align: center;
}

h2 {
  font-size: 5rem;
  margin: 20px 0 20px;
  text-align: center;
}

p {
  font-size: 2.0rem;
  margin-bottom: 20px;
  text-align: center;
}

img {
  margin: 0 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.image-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.image-wrapper {
  margin: 10px;
  text-align: center;
}