/* Cart.css */
.cart-container {
  padding: 20px;
}

h1 {
  text-align: center;
}

.cart-items {
  list-style: none;
  padding: 0;
  background-color: #ff9800;
  border-radius: 5px;
}

.cart-item {
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.item-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-text {
  flex-grow: 1;
}

.item-text h3 {
  margin: 0;
  font-size: 40px;
}

.item-text p {
  margin: 0;
  font-size: 20px;
}

.quantity-buttons {
  display: flex;
  align-items: center;
}

.quantity-buttons button,
.quantity-buttons p {
  margin-right: 10px;
  font-size: 20px;
}

button {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.increase {
  background-color: #4caf50;
  color: white;
}

.decrease {
  background-color: #f44336;
  color: white;
}

.remove {
  background-color: #1f1301;
  color: white;
}

.total-price-buy {
  margin-top: 10px;
  font-size: 40px;
  width: 500px;
  padding: 20px;
  background-color: aliceblue;
  border-radius: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.confirm-button-buy {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #000000;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
