.assist-page {
    padding: 20px;
    text-align: center;
  }
  
  .orders-table-container {
    display: flex;
    justify-content: center;
  }
  
  .orders-table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
  }
  
  .orders-table th, .orders-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  .orders-table th {
    background-color: #f2f2f2;
  }
  
  .order-row.priority td {
    background-color: #ffffff; /* Light green background for priority orders */
  }
  
  .select-button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .select-button:hover {
    background-color: darkblue;
  }
  
  .priority-button {
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .give-priority {
    background-color: red;
  }
  
  .give-priority:hover {
    background-color: darkred;
  }
  
  .remove-priority {
    background-color: black;
  }
  
  .remove-priority:hover {
    background-color: darkgray;
  }
  